{% extends 'base.html' %}

{% block content %}
{% include 'judul.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if pesan %}
            <div class="alert alert-success">{{ pesan }}</div>
            {% endif %}
            <form action="/tambah-buku/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary"> Simpan </button>
                <a href="/buku" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>

{% endblock%}